/COVIDLocation.class
/Inserts.class
/LocationEndpoint.class
/ResultSetConverter.class
/RetrieveDataBaseInfo.class
/User.class
/UserEndpoint.class
/Utilities.class
/UserResponse.class
/CreateUser.class
/SignInUser.class
